a:hover {
    color: #efb810;
  }
.lista {
    color: grey;
   font-size: 17px;
   margin: 15px;
   font-family: 'Nunito Sans',sans-serif;
   border-right: 2px solid rgb(238, 229, 229);
   padding: 5px;
}

.container {
    color: white;
}

.home {
    display: flex;
    color: black;   
    margin: 15px; 
   
    margin-right: 520px;
    margin-left: 0px;
}

.conocer {
    color: grey;
    font-size: 17px;
    margin: 15px;
    font-family: 'Nunito Sans',sans-serif;
    border-right: 2px solid rgb(238, 229, 229);
    padding: 5px;
    
}

.cont {
    color: grey;
    font-size: 17px;
    margin: 15px;   
    font-family: 'Nunito Sans',sans-serif;
    border-right: 2px solid rgb(238, 229, 229);
    padding: 6px;
}


.superNav {
     background-color: #FFFDFA;
height: auto;
width: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    box-shadow: 0 2px 20px grey;
    border-radius: 0.2rem ;   
}

.birrita {
    font-size: 22px;
    color: #efb810;
   
  
   
   
    
}

