a:hover {
    color: grey;
  }
.lista {
    color: white;
   font-size: 17px;
   margin: 15px;
   font-family: 'Nunito Sans',sans-serif;
   border-right: 2px solid rgb(238, 229, 229);
   padding: 5px;
}


.lista :hover a {
    filter: blur(2px);
  }
  
.lista a:hover {
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0px black;
    filter: none;
}
  

.container {
    color: white;
}

.home {
    display: flex;
    color: white;   
    margin: 15px;    
    margin-right: 300px;
   
    margin-left: 0px;
}

.conocer {
    color: white;
    font-size: 17px;
    margin: 15px;
    font-family: 'Nunito Sans',sans-serif;
    border-right: 2px solid rgb(238, 229, 229);
    padding: 5px;
    
}

.cont {
    color: white;
    font-size: 17px;
    margin: 15px;   
    font-family: 'Nunito Sans',sans-serif;
    border-right: 2px solid rgb(238, 229, 229);
    padding: 6px;
}


.superNav {
     background-color: #efb810; /* #efb810; */
     height: 6rem;
    width: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;    
    box-shadow: 0 2px 20px grey;
    border-radius: 0.2rem ;   
    display: flex;
    align-items: center;
    justify-content: center;
}

.birrita {
    font-size: 22px;
    color: white;
}

