.cart {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;  
    color: whitesmoke;
    height: 700px;                   
    background-image:url(../multimedia/shopping-venture-ga2d53c8d1_1920.jpg);
    padding: 15px;  
}