form {
    opacity: 0.8;
    background-image:  radial-gradient(#050505 0.5px, transparent 0.5px), radial-gradient(#050505 0.5px, #e5e5f7 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
    margin: auto;    
    width: 90%;
    max-width: 400px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 5px 10px -5px #4e54c8 ;
    text-align: center;
    align-items: center;
}

.fondoFinalizacion {
    background-image:url(../multimedia/bottles-gdc5037426_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;   
 
    justify-content: center;
    height: 900px;
    
}

#input-name {
    width: 100%;
    background: none;
    color: black;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid #efb810;;
    text-align: center;
    align-items: center;
    margin: 15px;    
}

#input-phone {
    width: 100%;
    background: none;
    color: black;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid #efb810;
    text-align: center;
    align-items: center;
    margin: 15px;  
}

#input-email {
    width: 100%;
    background: none;
    color: black;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid #efb810;
    text-align: center;
    align-items: center;
    margin: 15px;  
}

.carritoFinal {
    width: 100%;
    background: none;
    color: black;
    font-size: 1rem;   
    border: none;
    outline: none;    
    text-align: center;
    align-items: center;
    margin: 15px;  
    

}

.precioTotal{
    color: green;
    border: 1px solid green;
}

.btn-borrar {
    font-size: 10px;
    margin-left: 15px;
    margin: 0;
    background-color: grey;
}