* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* $radius: 0.2rem; */

a {
    text-decoration: none;
}


.card {
    overflow: hidden;
    box-shadow: 0 2px 20px grey;
    border-radius: 0.2rem ;
    padding-bottom: 20px;
    cursor: pointer;
    transition: transform 200ms ease-in;
    margin: 30px;   
   
    
}

.image {
    height: 20rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   

}

.title {
    
    padding: 1rem ;
    text-align: center;    
    color: red;
}

.price {
    padding: 1rem;
    text-align: center;
    color: black;
    border-bottom: 1px solid grey;
    padding: 14px;
}

.text {
    padding: 0 1rem;
    color: #efb810;
   
    text-align: center;
    align-items: center;
    justify-content: center;
   
}

.card:hover {
    box-shadow: 5px 10px 20px 10px rgba(250, 247, 247, 0.27);
    transition: all 0.3s linear;
}

.titleList {
    display: flex;
    text-align: center;
    color:black;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid grey;
    padding: 10px;
}

.btn-detalle{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 18px;
    font-family: 'Graduate', cursive;
    background-color: white;
    color: black;
}


.cardCuerpo {
    background-color: white;
    
}

.divisor {
    background-color: red;
    height: 20px;
    width: 15px;
}