/* From cssbuttons.io by @adamgiebl */
button {
    background: linear-gradient(-45deg,#1f3ea3, #9f69fe, #27c8b7, #1f3ea3);
    background-size: 800% 400%;
    padding: 1em 2em;
    display: inline-block;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 700;
    color: white;
    transition: all .5s ease-in-out;
    animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
    color: white;
   }
   
   button:hover {
    animation: gradient 3s infinite;
    transform: scale(1.05);
   }
   
   button:active {
    animation: gradient 3s infinite;
    transform: scale(0.8);
   }
   
   @keyframes gradient {
    0% {
     background-position: 0% 50%;
    }
   
    50% {
     background-position: 100% 50%;
    }
   
    100% {
     background-position: 0% 50%;
    }
   }

.btn {
    color: white;
    font-size: 25px;
    margin: 15px;
    font-family: 'Graduate', cursive;
}











/* .Card {
    display: flex;
    background-color: #1f3ea3;
    width: 500 px;
    height: 200px;
    align-items: center;
    justify-content: center;
    border: 5px solid  #b06ab3;
    margin: 50px;
    padding: 50px;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
   }
   
   .btn {
    width: 120px;
    height: 60px;
    font-size: 18px;
    background: #fff;
    border: none;
    border-radius: 50px;
    color: #000;
    outline: none;
    cursor: pointer;
    transition: all 0.4s;
   }
   
   .btn:hover {
    box-shadow: inset 0 0 0 4px #ef476f, 
                 inset 0 0 0 8px #ffd166, 
                 inset 0 0 0 12px #06d6a0,
                 inset 0 0 0 16px #118ab2;
    background: #073b4c;
    color: #fff;
   }

   .label {
    width: 170px;
    height: 60px;
    font-size: 18px;
    background: #fff;
    border: none;
    border-radius: 50px;
    color: #000;
    outline: none;
    cursor: pointer;
    transition: all 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
   
   }

.count {
    background: linear-gradient(to left,#1f3ea3 ,  #b06ab3) ;
    width: 170px;
    height: 160px;
    font-size: 28px;
   
    border: none;
    border-radius: 50px;
    color: #000;
    outline: none;
    cursor: pointer;
    transition: all 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
} */