.contacto {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;  
    color: whitesmoke;
    height: 800px;
    background-image:url(../multimedia/correo.jpg);
    padding: 15px;  
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.correo {
    border: 5px solid red;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 800px;
    height: 300px;
    margin: 20px;
    padding: 50px;
}

