.contacto {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;  
    color: whitesmoke;              
    background-image:url(../multimedia/correo.jpg);
    padding: 15px;  
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 900px;
}

.texto-conocenos {
    color: white;
    margin: 45px;
    padding: 10px;
    
}

.col-conocenos {
    display: flex;
    align-items: center;
    
}


