.detallesName{
    color:white;
    font-size: 30px;
    font-family: 'Graduate', cursive;
    background: linear-gradient(to left,#1e41b3 ,  #b06ab3);
    border: 15px solid white;
}

.detallesCategori{
    font-family: 'Graduate', cursive;
    color: black;
    background-color: white;
    border: 15px solid white;
}

.detallesPrice {
    font-family: 'Graduate', cursive;
    color: #1e41b3 ;
    background-color: white;
    border: 15px solid white;

}

.Foto {
 
  display: block;
}

.info {
   border: 2px solid #1e41b3;
 
 
}
